<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Lynx Sentiment Analysis API</title>

</head>

<body>
  <header class="py-4 flex justify-between items-center px-12">
    <h1 class="text-4xl font-semibold">Lynx</h1>
    <nav>
      <a class="hover:underline underline-offset-2 "
        href="https://github.com/777advait/lynx-sentiment-analysis">Github</a>
    </nav>
  </header>
  <main>
    <div class="max-w-[80%] mx-auto py-10">
      <h1 class="text-3xl font-semibold text-center">Lynx Sentiment Analysis API</h1>
      <div class="py-10 flex justify-center ">
        <div class="space-y-4">
          <h2 class="text-2xl font-semibold">Usage:</h2>
          <div class="">
            <p><strong>POST</strong> /api/sentiment</p>
            <p><strong>Content-Type:</strong> application/json</p>
            <p><strong>Data:</strong> <code>{ "text": "Moin is a good developer" }</code></p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>